* {

    box-sizing: border-box;
}

body {
    font-family: 'roboto', Courier, monospace, sans-serif;
    font-size: 14px;
}

/* header*/


.logo {

    font-family: 'raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #238fd7;

    text-decoration: none;
}

.nav-menu {
    text-decoration: none;
    list-style: none
}

.link_stady {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #000000;
    text-decoration: none;
    list-style: none
}



.link_portfolio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #212121;
    text-decoration: none;

}

.link_contact {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #212121;

    text-decoration: none;
    list-style: none
}

.link_stady.active,
.link_portfolio.active,
.link_contact.active {
    color: #2196F3;
}



.contacts-menu {
    text-decoration: none;
    list-style: none;

}

.link2_email {


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #757575;

    text-decoration: none;
    list-style: none
}

.link2_number {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #757575;

    text-decoration: none;
    list-style: none
}

.link_stady:hover,
.link_portfolio:hover,
.link_contact:hover,
.link2_email:hover,
.link2_number:hover,
.mexico:hover,
.correo-2:hover,
.numero-2:hover {

    color: #2196f3;
}

.link_stady:focus,
.link_portfolio:focus,
.link_contact:focus,
.link2_email:focus,
.link2_number:focus,
.mexico:focus,
.correo-2:focus,
.numero-2:focus {

    color: #2196F3;
}

/* header */

/* section1 */
.section1 {


    background: #2F303A;
}

.section1-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}



.btn-primary {

    font-size: 16px;
    font-weight: 700;
    background-color: #2196f3;
    border: none;
    outline: none;
    text-transform: capitalize;
    padding: 10px 20px;
}


.btn-primary:hover {
    background-color: #0365a6;
    color: #F5F4FA;
}

.container {
    padding: 0 15px;
    max-width: 1200px;
    margin: auto;
}

/* section1 */


/* section2 */
.title-h3 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;

}

.description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;

    color: #757575;
}

.beneficts-list {

    list-style: none;
}

/* section2*/
/* section3 */


h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.8;

    letter-spacing: 0.03em;

    color: #000000;
}

.card1 {
    list-style: none;
}



/* section3*/
/* section4 */
.section4 {
    background: #F5F4FA;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.8;

    letter-spacing: 0.03em;

    color: #212121;
}

.tean {

    list-style: none
}

.section4 h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;

    color: #212121;

}

.section4 p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;

    letter-spacing: 0.03em;

    color: #757575;
}

/* section4 */

.body-2 {
    position: relative;
    width: 1600px;
    height: 1880px;

    background: #FFFFFF;
}


/* section5 */



.section5 .list {
    list-style: none;

}



.button-0 {

    background-color: #F5F4FA;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: normal;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;


    border-radius: 4px;

}

.button-1 {
    background-color: #F5F4FA;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: normal;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;


    border-radius: 4px;

}

.button-2 {
    background-color: #F5F4FA;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: normal;
    justify-content: center;
    padding: 2px 5px;


    border-radius: 4px;

}

.button-3 {
    background-color: #F5F4FA;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: normal;
    justify-content: center;
    padding: 2px 5px;


    border-radius: 4px;

}

.button-4 {

    background-color: #F5F4FA;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: normal;
    justify-content: center;
    padding: 2px 5px;


    border-radius: 4px;

}

.button-0:hover,
.button-1:hover,
.button-2:hover,
.button-3:hover,
.button-4:hover {
    background-color: #2196F3;
    color: white;
}

.button-0:focus,
.button-1:focus,
.button-2:focus,
.button-3:focus,
.button-4:focus {
    background-color: #2196F3;
    color: white;
}




.container {
    list-style: none;
}

.contenedor-1,
.contenedor-2,
.contenedor-3,
.contenedor-4,
.contenedor-5,
.contenedor-6,
.contenedor-7,
.contenedor-8,
.contenedor-9 {

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


/* section5 */





/* footer */
.footer {



    background: #2F303A;
}

.position {
    list-style: none;
    text-decoration: none;
}

.mexico {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2x;


    letter-spacing: 0.03em;
    text-decoration: none;

    color: #FFFFFF;
}

.correo-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;


    letter-spacing: 0.03em;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.6);
}

.numero-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;

    letter-spacing: 0.03em;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.6);
}

.correo-2:hover,
.numero-2:hover {
    color: #2196f3;
}

/* footer */