body {
    font-family: 'roboto', Courier, monospace, sans-serif;

}

/* header*/


.web {

    font-family: 'raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: right;
    letter-spacing: 0.03em;


    color: #238fd7;


    text-decoration: none;
}

.link {
    text-decoration: none;
    list-style: none
}

.link_stady {


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #000000;
    text-decoration: none;
    list-style: none
}

.link_stady:hover {
    color: #2196f3;
}

.link_portfolio {


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
    text-decoration: none;

}


.list_portfolio:hover {
    color: #2196f3;
}


.link_portfolio:hover {
    color: #2196f3;
}


.link_contact {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;

    text-decoration: none;
    list-style: none
}

.link_contact:hover {
    color: #2196F3
}

.list2 .link_contact:hover {
    color: #2196F3
}

.link_stady.active,
.link_portfolio.active,
.link_contact.active {
    color: #2196F3;
}



.link2 {
    text-decoration: none;
    list-style: none
}

.link2_email {


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #000000;

    text-decoration: none;
    list-style: none
}

.link2_email:hover {
    color: #2196f3;
}

.link2_number {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #000000;

    text-decoration: none;
    list-style: none
}


.link2_number:hover {

    color: #2196f3;
}

/* header */

/* section1 */
.section1 {


    background: #2F303A;
}

h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

a {

    color: azure;
    text-decoration: none;

}


.btn {
    display: inline-block;
    background-color: #2196f3;


    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    gap: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.btn:hover {
    background-color: #0365a6;
}


/* section1 */


/* section2 */
.section2 h3 {


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;

}

.section p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;


    letter-spacing: 0.03em;

    color: #757575;
}

/* section2*/
/* section3 */


.section3 h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;

    letter-spacing: 0.03em;

    color: #000000;
}





/* section3*/
/* section4 */
.section4 {
    background: #F5F4FA;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;

    letter-spacing: 0.03em;

    color: #212121;
}

.card {

    list-style: none
}

.section4 h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;



    letter-spacing: 0.03em;

    color: #212121;

}

.section4 p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;



    letter-spacing: 0.03em;

    color: #757575;
}

/* section4 */

.body-2 {
    position: relative;
    width: 1600px;
    height: 1880px;

    background: #FFFFFF;
}


/* section5 */

.section5 {
    color: #000000;
    display: block
}

.filtros {
    list-style: none;

}

.button-0 {

    background-color: #F5F4FA;
    font-size: 16px;
    0 line-height: 2px;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #000000;
}

.button-1 {
    background-color: #F5F4FA;
    font-size: 16px;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #000000;
}

.button-2 {
    background-color: #F5F4FA;
    font-size: 16px;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #000000;
}

.button-3 {
    background-color: #F5F4FA;
    font-size: 16px;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #000000;
}

.button-4 {

    background-color: #F5F4FA;
    font-size: 16px;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #000000;
}

.button-0:hover,
.button-1:hover,
.button-2:hover,
.button-3:hover,
.button-4:hover {
    background: #2196F3;
    color: white;
}

/* section5 */
/* section6 */

.container {
    list-style: none;
}

.contenedor-1 {

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.contenedor-2 {

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.contenedor-3 {

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.contenedor-4 {

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.contenedor-5 {

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.contenedor-6 {

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.contenedor-7 {


    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.contenedor-8 {

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.contenedor-9 {

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}




/* section6 */

/* footer */
.footer {



    background: #2F303A;
}

.position {
    list-style: none;
    text-decoration: none;
}

.mexico {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;


    letter-spacing: 0.03em;
    text-decoration: none;

    color: #FFFFFF;
}

.correo-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;


    letter-spacing: 0.03em;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.6);
}

.numero-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.6);
}

.correo-2:hover,
.numero-2:hover {
    color: #2196f3;
}

/* footer */